<launch>
   <node pkg="rosslt_demo" exec="slt_trajectory"/>
   <node pkg="rosslt_demo" exec="vis_listener"/>
   <node pkg="rosslt_demo" exec="slt_quad_node"/>
   <node pkg="rosslt_demo" exec="slt_message_statistics"/>
   <node pkg="rviz2" exec="rviz2" args="-d $(find-pkg-share rosslt_demo)/config/quad_slt.rviz"/>
</launch>
